@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


/* 
    yellow : rgb(240, 165, 0)  hsl(38, 87%, 54%))
    black : rgb(8, 32, 50)  hsl(206, 72%, 11%) #082032

*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: hsl(206, 72%, 11%);
    color: #B3B3B3;
}

.form{
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.shape1,
.shape2{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.shape1{
    top:-7rem;
    left:-3.5rem;
    background: linear-gradient(180deg,white 0%,grey 100%);
}

.shape2{
    bottom:-4rem;
    right:-3.5rem;
    background: linear-gradient(180deg,white 0%,grey 100%);
    transform: rotate(180deg);
}

.main-form{
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.form-img{
    width: 400px;
    height: 400px;
}

.form-content{
    width: 300px;
   
}

.form-title{
    margin-bottom: 30px;
    text-align: center;
    font-weight: 900;
    font-size: large;
    color: white;
}

.form-part{
    display: flex;
    margin-bottom: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255,20%);
    /* border: 2px solid red; */
}

.form-part1{
    margin-bottom: 2rem;
}

.form-icon{
    font-size: 30px;
    color: white;
}



.form-inputpart{
    position: relative;
    width: 100%;
    height: 100%;
}
.form-label{
    font-size: medium;
    display: block;
    position: absolute;
    top: 10px;
    left: 5px;
    z-index: 5;

}


.form-input{
    position:absolute ;
    top: 10px;
    left: 5px;
    z-index: 10;
    width: 100%;
    height: 25px;
    background: none;
    outline: none;
    border: none;
    color: white;
    font-size: medium;
    /* border: 2px solid blue; */
}

.form-link{
    display: block;
    text-align: right;
    text-decoration: none;
    color: blue;
    padding: 0;
    margin-bottom: 15px;
    transition: .5s;
}

.form-link:hover{
    color: white;
    transition: .5s;
}

.form-button{
    width: 100%;
    padding: 1rem;
    font-size: large;
    color: white;
    background-color: darkcyan;
    outline: none;
    border: none;
    border-radius: .5rem;
    margin-bottom: 20px;
    cursor: pointer;
    /* transition: .5s; */
}


.form-social{
    text-align: center;
}

.form-social-text{
    display: block;
    font-size: medium;
    margin-bottom: 25px;
}

.form-social-icon{
    color: white;
    font-size: 30px;
    margin-right: 10px;
}

.form-social-icon:hover{
    color: grey;
    transition: .5s;
}

@media screen and (max-width:800px){
    .form-img{
        display:none;
    }
    
}
